<!DOCTYPE html>
<html lang='es'>
  <head>
  <title>Lista de productos</title>
  <meta charset='utf-8'>
  </head>
  <body>
    <h1>Productos</h1>
  		{% for elemento in lista %}
  			<ul>
        	<li><strong>Nombre: {{elemento.name}}</strong></li>
      		<li><strong>Precio: {{elemento.price}}</strong></li>
    		<li><strong>Descripción: {{elemento.descripcion}}</strong></li>
    		<li><strong>Tipo de dieta: {{elemento.categorias}}</strong></li>
    		<li><strong>URL de compra: {{elemento.url}}</strong></li>
  			</ul>
 		{% endfor %}
  </body>
</html>